*{
  margin: 0%;
  padding: 0%;
}
body{
    background-color:#4767CF;
}
.content{
  height: 100vh;
  }
.imageContainer{
  background-color: #ffffff;
  padding: 0%;
}

.image ,.logo{
  object-fit: contain;
  padding: 0% 0% 0% 2%;
}

/* .form{
  margin-top: 25%;
} */

/* .form-group{
  margin: 2% 0% 1% 20%;
}

.signupButton{
  margin: 2% 0% 1% 70%;
} */

 .signupTitle{
text-align: center;
margin: 0% 0% 5% 0%;
color: #ffffff;
}

.toggleButton{
  text-align: center;
  margin: 3% 0% 10% 0%;
  font-size: 1.3em;
}

.signupToggleButton,.signinToggleButton{
  color: #ffffff;
  cursor: pointer;
}


.form-group{
  margin:7% 0% 0% 0%;
  text-align: center;
} 

input{
  text-align: center;
}

.signupButton,.signinButton{
  background-color: #91909F;
  color: #ffffff;
  margin:8% 0% 0% 0%;
  padding: 2% 7% 2% 7%;
}

.signupButton:hover{
  background-color: #EDECFC;
  color: #000000;
}

.signinButton:hover{
  background-color: #EDECFC;
  color: #000000;
}

.usernameError,.emailError,.passwordError{
  color: #E71C23;
}

.progress{
  margin:2% 0% 0% 0%;
  height: 7px;
}

/* .bar{
  width: 75%;
  background-color: yellow;
} */