*{
    margin : 0%;
    padding : 0%;
}
.navbar{
   display: flex;
   /* justify-content: space-between;
   background-color: #2294F3; */
   height: 10vh;
   align-items: center;
}
.nav-section{
   color: #ffffff;
   /* margin-top: %; */
}
.finishBtn{
   width: 100px;
   margin-bottom: .4%;
}
.timer{
   color: #333945;
   font-family: sans-serif;
   margin-top: 0.5%;
}
.content{
   height: 91vh;
   justify-content: center;
   /* align-items: center;
   background-color: #EAF0F1; */
}
.question{
   font-size: 1.3em;
}
.options{
   margin-top: 6%;
}
#option1,#option2,#option3,#option4{
   width: 50%;
   padding: 0.7%;
   background: #ffffff;
   /* text-align: center;
   border-radius: 50px; */
   /* box-shadow: 5px 5px 5px 5px grey; */
   margin: 0% 0% 3% 25%;
   cursor: pointer;
}
.data{
text-align: center;
}
.backward,.forward{
   /* font-size: 2em; */
   margin: 5%;
   cursor: pointer;
}
/* @media only screen and (max-width : 1024px) {
   #option1,#option2,#option3,#option4{
       width: 90%;
       margin: 0% 0% 3% 5%;
   }
} */